.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.transaction {
  margin-bottom: 5px;
}

.credit {
  color: #28a745;
  font-weight: bold;
}

.debit {
  color: #dc3545;
  font-weight: bold;
}
